@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color:
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #21140d;
}

nav {
    font-family: "Open Sans Condensed", sans-serif;
    color: #2a1910;
}
